body{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;

}










#particles-js{
	background: url("img/bg.png");
	background-size: cover;
	background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.container {
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
	width: 100%; /* Full width */
	margin: auto;

}

.menu-toggle{
	position: fixed;
	top: 2.5rem;
	right: 2.5rem;
	color: #eeeeee;
	font-size: 3rem;
	cursor: pointer;
	z-index: 1000;
	display: none;
}

nav{
	display: flex;
	margin: auto;
	align-items: center;
	text-transform: uppercase;
	font-size: 1rem;
	background-color: rgb(255, 255, 255);
	z-index: 100;
}

.navbar ul {
	margin: auto;
}

.brand{
	font-size: 3rem;
	font-weight: 300;
	transform: translateX(-100rem);
	animation: slideIn .5s forwards;
}

.brand span{
	color: crimson;
}

nav ul{
	display: flex;
}

nav ul li{
	list-style: none;
	transform: translateX(100rem);
	animation: slideIn .5s forwards;
}

nav ul li:nth-child(1){
	animation-delay: 0s;
}

nav ul li:nth-child(2){
	animation-delay: .5s;
}

nav ul li:nth-child(3){
	animation-delay: 1s;
}

nav ul li:nth-child(4){
	animation-delay: 1.5s;
}

nav ul li a{
	
	margin: 0 3rem;
	position: relative;
	letter-spacing: 2px;
}

nav ul li a:last-child{
	margin-right: 0;
}

nav ul li a::before,
nav ul li a::after{
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: crimson;
	left: 0;
	transform: scaleX(0);
	transition: all .5s;
}

nav ul li a::before{
	top: 0;
	transform-origin: left;
}

nav ul li a::after{
	bottom: 0;
	transform-origin: right;
}

.overlay{
	background-color: rgba(0,0,0,.95);
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	transition: opacity 650ms;
	transform: scale(0);
	opacity: 0;
  display: none;
}

nav ul li a:hover::before,
nav ul li a:hover::after{
	transform: scaleX(1);
}

@keyframes slideIn {
	from{

	}
	to{
		transform: translateX(0);
	}
}

@media screen and (max-width: 700px){

    body {
        overflow: scroll;
    }

    #about .aboutContent {
        text-align: center;
        justify-content: center;
        padding: 0;
    }

	.menu-toggle{
		display: flex;
	}

	nav{
		padding-top: 0;
		display: none;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		height: 100vh;
		text-align: center;
	}

	nav ul{
		flex-direction: column;
	}

	nav ul li{
		margin-top: 5rem;
	}

	nav ul li a{
		margin: 0;
		font-size: 2.5rem;
	}

	.brand{
		font-size: 5rem;
	}
  
  .overlay.menu-open,
  nav.menu-open{
	  display: flex;
	  transform: scale(1);
	  opacity: 1;
  }
  
}



.btext{
	color: #000000;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    text-align: center;
    top: 40%;
    width: 100%;
    line-height: em;
}

h1{
    font-size: 50px;
}

.btn{
    color: rgb(0, 0, 0);
    text-decoration: none;
    border: #ccc 1px solid;
    padding: 10px 15px;
    border-radius: 8px;
    line-height: 4em;
    transition: all .2s ease-in-out;
}

.btn:hover{
    transform:scale(1.1);
}



section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    min-height: 100vh;
}

section h1{
    font-size: 4rem;
    color: #fff;
}

section p {
    font-size: 1.5rem;
    color: #fff;
}

#about .textAbout {
    text-align: right;
    justify-content: center;
    position: relative;
    text-align: center;
    top: -10%;
    line-height: 0.4em;
}

#about ul {
    color: rgb(0, 0, 0);
}

#about ul p {
    align-items: center;
}

#about {
	background-color: rgba(231,231,231,1) 100%;
	background-image: url("img/about-bg.jpg");
	background-image: url("img/about-bg.jpg"), (315deg, #2d3436 0%, #000000 74%);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
}

#about p {
	color: #000000;
}


#about h1 {
	color: rgb(0, 0, 0);
	display: inline-block;
	text-transform: uppercase;
	border-bottom: 4px solid crimson;
	font-size: 40;
	padding-bottom: 10px;
	
}


.cen {
	max-width: 1200px;
	margin: auto;
	overflow: hidden;
	padding: 20px;
}

#about img {
	border-radius: 50%;
}

.service {
	display: inline-block;
	width: calc(100% / 3);
	margin: 0 -2px;
	padding: 20px;
	box-sizing: border-box;
	cursor: pointer;
	transition: 0.4s;
}

.service:hover {
	background: crimson;
}

.service i {
	color: #3498db;
	font-size: 34px;
	margin-bottom: 30px;
}

.service h2 {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 500;
	margin: 0;
	color: #fff;
}

.service p {
	color: #fff;
	font-size: 15px;
	font-weight: 500;
}

@media screen and (max-width: 900px){
	.service {
		width: 50%;
		padding: 2px;
	}

}

@media screen and (max-width: 500px){
	.service {
		width: 100%;
	}
}

#about {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	padding: 2px;
}

.about-section{
    background: url(img/about.jpg) no-repeat left;
    background-size: 55%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
}

.inner-container{
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 150px;
}

.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.text{
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.skills{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
}

@media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }
}

@media screen and (max-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .about-section{
        padding: 0;
    }
    .inner-container{
        padding: 60px;
    }
}











.showcase::after{
    content: '';
    background-image: url('img/about.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    filter: blur(100px);
}

.showcaseTechnical::after{
    content: '';
    background-image: url('img/python.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    filter: blur(100px);
}

#technical {
	background: url("img/bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

#contact {
	background: url("img/bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;

}


#technical a {
	margin: 10px;
}

#technical h1 {
	color: rgb(0, 0, 0);
	display: inline-block;
	text-transform: uppercase;
	border-bottom: 4px solid crimson;
	font-size: 3.5em;
	padding-bottom: 10px;
	
}

@media screen and (max-width: 900px){
	#technical .horizontal {
		display: inline;
	}

}

@media screen and (max-width: 500px){
	#technical .horizontal {
		display: inline;
	}

}





.fade { 
	opacity: 1;
}

.contact-section {
	padding: 80px 0;
	text-align: center;
}

.inner-width {
	max-width: 600px;
	margin: auto;
	padding: 0 20px;
}

.contact-section h1 {
	font-size: 20px;
	color: #888;
	margin-bottom: 40px;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-weight: 400;
}

.name, .email, .message {
	background: none;
	border: none;
	outline: none;
	border-bottom: 1px solid;
	color: #888;
	padding: 10px 6px;
	font-size: 14px;
	margin-bottom: 40px;
}

.name {
	float: left;
	width: 270px;
}

.email {
	float: right;
	width: 270px;
}

.message {
	min-width: 100%;
	max-width: 100%;
}

.contact-section .submit {
	background: none;
	color: black;
	border: 1px solid crimson;
	padding: 12px 40px;
	border-radius: 8px;
	text-transform: uppercase;
	font-size: 14px;
	transition: 0.4s linear;
	cursor: pointer;
}

.contact-section .submit:hover {
	background: #70a1ff;
	color: #fff;
}

@media screen and (max-width: 600px){
	.name, .email {
		width: 100%;
	}
}

#technical, ul{
	display: inline-block;
}

#iterationList li {

	justify-content: center;
}

#iterationList {
	border-style: ridge;
	padding: 4em;

}

#technical h3 {
	text-align: center;
}



  

  
  .arrow-down {
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid white;
  }
  
  .animated {
	display: block;
  }
  
  .material-icons {
	position: absolute;
	top: 189px;
	left: 160px;
	width: 100%;
	color: white;
	font-size: 33px;
  }
  
  .hexagon {
	position: relative;
	width: 75px;
	height: 43.30px;
	background-color: #1c77c3;
	margin: 21.65px 0;
	left: 50%;
	margin-left: -37px;
	top: 25px;
  }
  
  .hexagon:before,
  .hexagon:after {
	content: "";
	position: absolute;
	width: 0;
	border-left: 37.5px solid transparent;
	border-right: 37.5px solid transparent;
  }
  
  .hexagon:before {
	bottom: 100%;
	border-bottom: 21.65px solid #1c77c3;
  }
  
  .hexagon:after {
	top: 100%;
	width: 0;
	border-top: 21.65px solid #1c77c3;
  }

  table{
	width:60%;
	table-layout: fixed;
	margin: auto;
  }
  .tbl-header{
	background-color: rgba(255,255,255,0.3);
   }
  .tbl-content{
	height:60%;
	overflow-x:auto;
	margin-top: 0px;
	border: 1px solid rgba(255,255,255,0.3);
  }
  th{
	padding: 20px 15px;
	text-align: center;
	font-weight: 500;
	font-size: 12px;
	color: rgb(0, 0, 0);
	text-transform: uppercase;
	border-bottom: 4px solid crimson

  }
  td{
	padding: 15px;
	text-align: center;
	vertical-align:middle;
	font-weight: 300;
	font-size: 12px;
	color: rgb(0, 0, 0);
	border-bottom: solid 1px rgba(255,255,255,0.1);
  }
  
  
  /* demo styles */
  
  @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);


  
  
  /* follow me template */
  .made-with-love {
	margin-top: 40px;
	padding: 10px;
	clear: left;
	text-align: center;
	font-size: 5em;
	font-family: arial;
	color: rgb(0, 0, 0);
  }
  .made-with-love i {
	font-style: normal;
	color: #F50057;
	font-size: 14px;
	position: relative;
	top: 2px;
  }
  .made-with-love a {
	color: rgb(0, 0, 0);
	text-decoration: none;
  }
  .made-with-love a:hover {
	text-decoration: underline;
  }
  
  
  /* for custom scrollbar for webkit browser*/
  
  ::-webkit-scrollbar {
	  width: 6px;
  } 
  ::-webkit-scrollbar-track {
	  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  } 
  ::-webkit-scrollbar-thumb {
	  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  }

.content-videos {
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-auto-rows: minmax(150px, auto);
	grid-gap: 10px;
	margin: 0 auto;
	width: 90%;
}

#videos h1 {
	color: rgb(0, 0, 0);
	display: inline-block;
	text-transform: uppercase;
	border-bottom: 4px solid crimson;
	font-size: 3.5em;
	padding-bottom: 10px;
}

.content-videos div iframe {
	width: 100%;
	height: 100%;
}

.summary {
	grid-row: 1/6;
	border-radius: 25px;
	border: 2px solid  #e1e1ea ;
	font-family: "Montserrat", sans-serif;
	padding: 10px;
}

.summary h1 {
	color: rgb(0, 0, 0);
	display: inline-block;
	text-transform: uppercase;
	border-bottom: 4px solid crimson;
}

.summary p {
	color: black;
	font-size: 2em;
	font-family: "Montserrat", sans-serif;
}

.summary li {
	color: black;
	font-size: 2em;
	
}

.processVideo {
	grid-row: 2/5;
	border-radius: 25px;
}

#models h1 {
	color: rgb(0, 0, 0);
	display: inline-block;
	text-transform: uppercase;
	border-bottom: 4px solid crimson;
}

.container-team {
	margin: 20px 40px;
	color: whitesmoke;
}

.heading {
	font-size: 60px;
	color: white;
}

.heading span {
	font-style: italic;
	font-size: 30px;
	color: crimson;
}

.profiles div {
	display: inline-block;
	justify-content: space-around;
	
}

.profile div {
	flex-basis: 20%;
}

.profile img {
	height: 260px;
	width: 260px;
	border-radius: 50%;
	filter: grayscale(100%);
	cursor: pointer;
	transition: 400ms;
}

.profile img:hover{
	filter: grayscale(0)
}

.profile .user-name {
	margin-top: 30px;
	font-size: 35px;
}

.profile h5 {
	font-size: 18px;
	font-weight: 100;
	letter-spacing: 3px;
	color: rgb(14, 13, 13);
}

.profile p {
	font-size: 16px;
	margin-top: 20px;
	text-align: justify;
}

#references h1 {
	color: rgb(0, 0, 0);
	display: inline-block;
	text-transform: uppercase;
	border-bottom: 4px solid crimson;
}

#scripts h1 {
	color: rgb(0, 0, 0);
	display: inline-block;
	text-transform: uppercase;
	border-bottom: 4px solid crimson;	
}

#documentation h1 {
	color: rgb(0, 0, 0);
	display: inline-block;
	text-transform: uppercase;
	border-bottom: 4px solid crimson;
}




